#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}


.hero-headline {
  font-size: 70px !important;
  line-height: 86px !important;
  margin-bottom: 24px !important;
}

.nav-link,
.nav-link * {
  font-family: var(--font-secondary);
}

/* Disable theme text caspitalization */
.text-transform-none {
  text-transform: none !important;
}


.app-logo {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: var(--rounded-btn, 0.5rem);
  border:none;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;

  line-height: 1.25rem;
  line-height: 1em;
  min-height: 3rem;
  font-weight: 900;

  text-decoration-line: none;
  border-width: var(--border-btn, 1px);
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;

  transition: all 1.1s;
}
.app-logo:hover{

  color: hsl(var(--sf)) !important;
}